<div class="container">

  <div *ngIf="router.url === '/E-learning'" class="adminIntro">
    <h1> Welcome to Princh's e-learning </h1>

    <h3> We will help you become a superuser of Princh's various systems for your library</h3><br>

    <h3> Course of action: </h3>
    <p> At the left side you can navigate between the different courses.<br>
         You will first be presented by a text. This text explains what the video below it will demonstrate, <br>
         after watching the video, a task will be available which you have to complete in order to continue.

    </p>
   
    <img class="imgBox" src="../../assets\ElearningPrinchy.png">

  </div>
</div>

<div class="taskMenu">
  <menu></menu>
</div>
