.support {
  position: fixed;
  bottom: 0;
  background-color: #435063;
  height: 30vh;
  width: 195px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: white;
  list-style-type: none;
}

.support h3 {
  text-align: center;
}

.support li {
  font-family: 'lato'
}
