<button class="toggleTool" (click)="activateTool()"> Toggle Tool</button>
<div class="buildingTool" [class.toolShow]="toolActive">
  <form (submit)="addIssue()" class="addIssue" name="issueForm">
    <textarea type="text" [(ngModel)]="name" name="name" placeholder="Overskrift"></textarea>
    <textarea type="text" [(ngModel)]="problem" name="problem" placeholder="Problem"></textarea>
    <textarea type="text" [(ngModel)]="solution" name="solution" placeholder="Solution"></textarea>
    <button type="submit"><i class="fa fa-plus"></i> ADD ISSUE </button>
  </form>
</div>