<div class="boxContainer">

  <input [(ngModel)]="term" *ngIf="router.url === '/search'" placeholder="Search for your issue" class="issueSearch"> 
    
  <div *ngFor="let issue of issues | filter: term" class="inlineBlock">

    <div *ngIf="issue.categoryId===categoryId || router.url === '/search'" class="issueBox" [class.selected]="issue === selectedIssue" (click)="onSelect(issue)">
      <h3>{{issue.name}} {{issue.issueId}} </h3>
      <p> <b>Problem: </b> {{issue.problem}} </p>
      <div class="imgBox">
        <img src="assets/{{issue.image}}">
      </div>
      <p> <b>Solution: </b> {{issue.solution}} </p>
    </div>
    
  </div>

  <issue-add></issue-add>

  <issue-edit [issue]="selectedIssue"></issue-edit>

</div>

<left-sidebar></left-sidebar>
