<div class="boxContainer">
  
  <a routerLink="E-learning">
    <div class="box">
      <img class="boxImg" src="assets/ElearningPrinchy.png">
      <h2> E-learning </h2>
      <p> We will help you become a superuser of all Princh's systems for your library or organization.
        <br><br> Each system is taught through an easy and intuitive course with video and tasks.
      </p>
    </div>
  </a>

  <a routerLink="categories/1">
    <div class="box">
      <img class="boxImg" src="assets/ElearningPrinchy.png">
      <h2> Trouble shooting </h2>
      <p> Fix your problems by using our solutions. <br> Big overview of common encountered problems.
        <br><br> Choose your platform or use the search function to quickly find your specific problem.
      </p>
    </div>
  </a>

</div>
