<div class="boxContainer">
  
  <a routerLink="categories/1">
    <div class="box">
      <img class="boxImg" src="../../assets/ElearningPrinchy.png">
      <h2> E-learning </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
        <br> Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
  </a>

  <a routerLink="categories/1">
    <div class="box">
      <img class="boxImg" src="../../assets/ElearningPrinchy.png">
      <h2> Trouble shooting </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua.
        <br> Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
  </a>

</div>
